@font-face {
  font-family: "iconfont"; /* Project id 3803025 */
  src: url('../fonts/iconfont.woff2?t=1669881659741') format('woff2'),
       url('../fonts/iconfont.woff?t=1669881659741') format('woff'),
       url('../fonts/iconfont.ttf?t=1669881659741') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daikuan:before {
  content: "\e639";
}

.icon-licai:before {
  content: "\e63a";
}

.icon-xinyongka:before {
  content: "\e63b";
}

.icon-ziguanxintuo:before {
  content: "\e63c";
}

