<!DOCTYPE html>
<html>
    <head>
        <title>列表过滤</title>
        <meta charset="UTF-8">
        <script src="../js/vue.js"></script>
    </head>

    <body>
        <div id="root">
            <h2>人员列表</h2>
            <input type="text" placeholder="请输入名字" v-model="keyWord">
            <ul>
                <li v-for="(p,index) of filPerons" :key="index">
                    {{p.name}} -- {{p.age}} -- {{p.sex}}
                </li>
            </ul>
        </div>
    </body>

    <script type="text/javascript">
        // const vm = new Vue({
        //     el:"#root",
        //     data:{
        //         keyWord:'',
        //         //数组
        //         persons:[
        //             {id:'001',name:'张韫舒',age:18,sex:'男'},
        //             {id:'002',name:'鎏舒钰',age:19,sex:'女'},
        //             {id:'003',name:'王凛涵',age:20,sex:'女'},
        //             {id:'004',name:'刘洱凛',age:20,sex:'男'}
        //         ],
        //         filePerons:[]
        //     },
        //     watch:{
        //         keyWord:{
        //             immediate:true,
        //             handler(val){
        //             this.filePerons = this.persons.filter((p)=>{
        //                 return p.name.indexOf(val) !== -1
        //             })
        //         }}
        //     }
        // }) 

        const vm = new Vue({
            el:"#root",
            data:{
                keyWord:'',
                //数组
                persons:[
                    {id:'001',name:'张韫舒',age:18,sex:'男'},
                    {id:'002',name:'鎏舒钰',age:19,sex:'女'},
                    {id:'003',name:'王凛涵',age:20,sex:'女'},
                    {id:'004',name:'刘洱凛',age:20,sex:'男'}
                ],
            },
            computed:{
                filPerons(){
                    return this.persons.filter((p)=>{
                        return p.name.indexOf(this.keyWord) !== -1
                    })
                }
            }
        }) 
    </script>
</html>