<!DOCTYPE html>
<html>

    <head>
        <title>计算属性</title>
        <meta charset="UTF-8"/>
        <script src="../js/vue.js"></script>
    </head>

    <body>

        <div id="root">
            <!--v-model数据双向绑定-->
           姓：<input type="text" placeholder="输入姓" v-model="firstname"><br/><br/>
           名：<input type="text" placeholder="输入名" v-model="lastname"> <br/><br/>
           姓名：<span>{{fullName}}</span>
        </div>

    </body>

    <script>
        Vue.config.productionTip = false
        const vm = new Vue({
            el:"#root",
            data:{
                firstname: '',
                lastname:''
            },
            //定义计算属性
            computed:{
                fullName:{
                    //获取值的时候被调用
                    get(){
                        console.log("fullName的get方法被调用")
                        return this.firstname + '-' + this.lastname
                    },
                    //set修改值
                    set(value){
                        console.log("值被修改") 
                    }
                }
            }
        })
    </script>

</html>
